body {
    background-color:rgb(255, 255, 255);
    font-family: "Roboto Mono", monospace;
    text-align: center;
    padding: 25px;
}
h1 {
    color:rgb(17, 147, 104);
    font-family: "Ubuntu", sans-serif;
    text-align: center;
}
nav {
    display: block;
    padding: 8px;
    background-color: rgb(17, 147, 104);
}
a {
    padding: 16px;
}

b.title {
    color: rgb(0, 157, 255);
}
b.sub.title {
    font-size: 33%;
}

.post {
    text-align: left;
}
article h2 {
    font-family: "Ubuntu", sans-serif;
    margin-top: 16px;
    margin-bottom: 0px;
}
article h5 {
    font-family: "Ubuntu", sans-serif;
    margin-top: 4px;
    margin-bottom: 8px;
}
article p {
    margin-top: 16px;
    margin-bottom: 16px;
}

nav img {
    max-height: 21.3333px;
    padding-right: 4px;
}
article img {
    float: right;
    margin: 5px;
}

.fright {
    float: right;
}
.fleft {
    float: left;
}